<h1>Invoice ID: <%= @invoice.id %></h1>
<%= form_with url: "/merchants/#{@merchant.id}/invoices/#{@invoice.id}", method: :patch do |f| %>
  <%= f.label "Item status" %>
  <%= f.select :status, ['pending', 'packaged', 'shipped'], selected: @invoice_item.status %>
  <%= f.submit 'Update Item Status' %>
<% end %>

<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<p>Invoice status: <%= @invoice.status %></p>
<p>Invoice created at: <%= @invoice.created_at.strftime("%A, %B, %d, %Y") %></p>

<h2> Items on invoice: </h2>
<% @invoice.invoice_items.each do |invoice_item| %>
<div id="invoice_item-<%= invoice_item.id%>">
<p>Item name: <%= invoice_item.item.name %><% if invoice_item.applied_discount %>
    <%= link_to "Bulk Discount Applied", merchant_bulk_discount_path(@merchant, invoice_item.applied_discount.id) %><% end %></p>
<p>Quantity: <%= invoice_item.quantity %></p>
<p>Sold at: <%= number_to_currency(invoice_item.unit_price.to_f/100) %></p>
<p>Status: <%= invoice_item.status %></p></div>
<% end %>


<%= render partial: 'admin_invoices/bulk' %>
